# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Build files
*.dll
*.pdb
/build/
bin/
obj/
Debug/
Release/
*/bin/*
*/obj/*

# Database files
/InvisibleFriendLibrary/Data/*.json

*.cache
InvisibleFriendConsole/obj/project.nuget.cache
InvisibleFriendConsole/obj/Debug/net6.0/InvisibleFriendConsole.assets.cache
InvisibleFriendConsole/obj/Debug/net6.0/InvisibleFriendConsole.GeneratedMSBuildEditorConfig.editorconfig
InvisibleFriendConsole/obj/project.assets.json
InvisibleFriendConsole/obj/InvisibleFriendConsole.csproj.nuget.dgspec.json
InvisibleFriendConsole/obj/Debug/net6.0/InvisibleFriendConsole.assets.cache
